 #a2 {
     color: #542da942;
     margin-left: 45%;
     margin-top: 70px;
 }
 
 #a {
     color: #542da942;
     margin-left: 45%;
     margin-top: 70px;
 }
 
 #tika {
     color: #542da942;
     margin-left: 45%;
     margin-top: 70px;
 }
 
 .b {
     color: #542da942;
     margin-left: 45%;
     margin-top: 70px;
 }
 
 html {
     background-color: rgba(198, 137, 226, 0.605);
 }
 
 .b {
     margin-top: 3px;
     margin-left: 46%;
 }